h3{
    background-color: cornflowerblue;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: blanchedalmond;
}
p{
    background-color: aquamarine;
    padding: 5px;
}
div{
    background-color:orange ;
    padding: 10px;
    margin-bottom: 10px;
}
ol{
    background-color: aquamarine;
   padding-top: 5px;
   padding-bottom: 5px;
}
